GatewayCodes/nodered_saved_flows
[{"id":"a528d0b2.b82b6","type":"tab","label":"Stream Processor","disabled":false,"info":""},{"id":"e2d9da8c.51aff8","type":"tab","label":"Station Controller","disabled":false,"info":""},{"id":"b8e05950.952c78","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"943b6653.8aa7a8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"48e48eba.908a1","type":"mqtt-broker","z":"","name":"","broker":"root.modes3.intra","port":"1883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c40e128.5d176f","type":"mqtt out","z":"a528d0b2.b82b6","name":"","topic":"raw/light","qos":"","retain":"false","broker":"b8e05950.952c78","x":280,"y":60,"wires":[]},{"id":"95953ca3.74d7d","type":"inject","z":"a528d0b2.b82b6","name":"high light","topic":"","payload":"{\"sensor_id\":1234,\"Light\":955}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":60,"wires":[["c40e128.5d176f"]]},{"id":"8bd4075e.b22538","type":"mqtt in","z":"a528d0b2.b82b6","name":"dht","topic":"raw/dht","qos":"2","broker":"943b6653.8aa7a8","x":190,"y":420,"wires":[["f01767e0.bafab8","f4107e2f.87997"]]},{"id":"f01767e0.bafab8","type":"json","z":"a528d0b2.b82b6","name":"","property":"payload","action":"","pretty":true,"x":330,"y":420,"wires":[["a3567203.a098d"]]},{"id":"a3567203.a098d","type":"function","z":"a528d0b2.b82b6","name":"magic","func":"if(\n    ((msg.payload.Temperature < 200)  && (msg.payload.Temperature > -100)) ||\n    ((msg.payload.Humidity < 100)  && (msg.payload.Humidity > -100))\n) {\n\nreturn [msg, null];\n}\nelse {\nreturn [null,msg];\n}","outputs":2,"noerr":0,"x":470,"y":420,"wires":[["f8fb9df7.ecd31"],["7a5e22b6.e48dbc"]]},{"id":"f8fb9df7.ecd31","type":"mqtt out","z":"a528d0b2.b82b6","name":"","topic":"sensor/dht","qos":"","retain":"","broker":"b8e05950.952c78","x":650,"y":360,"wires":[]},{"id":"1c9472e2.d27b5d","type":"mqtt in","z":"a528d0b2.b82b6","name":"camera","topic":"raw/cameradata","qos":"2","broker":"943b6653.8aa7a8","x":190,"y":580,"wires":[["965487b.9747478","3ac5bceb.822a24"]]},{"id":"b0129285.c0648","type":"mqtt in","z":"a528d0b2.b82b6","name":"acc","topic":"raw/acc","qos":"2","broker":"943b6653.8aa7a8","x":190,"y":760,"wires":[["898e3fb3.6052f","53e18c72.bbe264"]]},{"id":"c560bedd.f7b83","type":"mqtt in","z":"a528d0b2.b82b6","name":"light","topic":"raw/light","qos":"2","broker":"943b6653.8aa7a8","x":190,"y":960,"wires":[["338aafcb.0895b","bff0bb38.983d18"]]},{"id":"18a1f6d5.1c03c9","type":"mqtt in","z":"a528d0b2.b82b6","name":"rail","topic":"raw/rail","qos":"2","broker":"943b6653.8aa7a8","x":190,"y":1160,"wires":[["4f7409f9.1182f8","ef760920.1836f8"]]},{"id":"7a5e22b6.e48dbc","type":"mqtt out","z":"a528d0b2.b82b6","name":"","topic":"sensor/error/dht","qos":"","retain":"","broker":"b8e05950.952c78","x":660,"y":420,"wires":[]},{"id":"965487b.9747478","type":"json","z":"a528d0b2.b82b6","name":"","property":"payload","action":"","pretty":true,"x":330,"y":580,"wires":[["e60d49c8.7cca18"]]},{"id":"e60d49c8.7cca18","type":"function","z":"a528d0b2.b82b6","name":"magic","func":"if(\n    ((msg.payload.BoxLeft <= 1)  && (msg.payload.BoxLeft >= -1)) &&\n    ((msg.payload.BoxRight <= 1)  && (msg.payload.BoxRight >= -1)) && \n    ((msg.payload.BoxBottom <= 1)  && (msg.payload.BoxBottom >= -1)) &&\n    ((msg.payload.LowerBound <= 1)  && (msg.payload.LowerBound >= -1)) &&\n    ((msg.payload.UpperBound <= 1)  && (msg.payload.UpperBound >= -1)) \n) {\n\nreturn [msg, null];\n}\nelse {\nreturn [null,msg];\n}","outputs":2,"noerr":0,"x":470,"y":580,"wires":[["8e243f25.50b0d"],["58b4905f.2c2bf"]]},{"id":"8e243f25.50b0d","type":"mqtt out","z":"a528d0b2.b82b6","name":"","topic":"sensor/cameradata","qos":"","retain":"","broker":"b8e05950.952c78","x":670,"y":540,"wires":[]},{"id":"58b4905f.2c2bf","type":"mqtt out","z":"a528d0b2.b82b6","name":"","topic":"sensor/error/cameradata","qos":"","retain":"","broker":"b8e05950.952c78","x":690,"y":600,"wires":[]},{"id":"898e3fb3.6052f","type":"json","z":"a528d0b2.b82b6","name":"","property":"payload","action":"","pretty":true,"x":330,"y":760,"wires":[["9ece4b41.3fea48"]]},{"id":"9ece4b41.3fea48","type":"function","z":"a528d0b2.b82b6","name":"magic","func":"if(\n    ((msg.payload.AccX <= 20)  && (msg.payload.AccX >= -20)) &&\n    ((msg.payload.AccY <= 20)  && (msg.payload.AccY >= -20)) && \n    ((msg.payload.AccZ <= 20)  && (msg.payload.AccZ >= -20)) \n) {\n\nreturn [msg, null];\n}\nelse {\nreturn [null,msg];\n}","outputs":2,"noerr":0,"x":470,"y":760,"wires":[["59ab6b7c.d34cc4"],["8a175fa8.bae16"]]},{"id":"59ab6b7c.d34cc4","type":"mqtt out","z":"a528d0b2.b82b6","name":"","topic":"sensor/acc","qos":"","retain":"","broker":"b8e05950.952c78","x":650,"y":720,"wires":[]},{"id":"8a175fa8.bae16","type":"mqtt out","z":"a528d0b2.b82b6","name":"","topic":"sensor/error/acc","qos":"","retain":"","broker":"b8e05950.952c78","x":670,"y":780,"wires":[]},{"id":"338aafcb.0895b","type":"json","z":"a528d0b2.b82b6","name":"","property":"payload","action":"","pretty":true,"x":330,"y":960,"wires":[["418b5c34.eee584"]]},{"id":"418b5c34.eee584","type":"function","z":"a528d0b2.b82b6","name":"magic","func":"if(\n    ((msg.payload.Light <= 1024)  && (msg.payload.Light >= 0))\n) {\n\nreturn [msg, null];\n}\nelse {\nreturn [null,msg];\n}","outputs":2,"noerr":0,"x":470,"y":960,"wires":[["a75159f1.868e88"],["2fcab3b.8876f4c"]]},{"id":"a75159f1.868e88","type":"mqtt out","z":"a528d0b2.b82b6","name":"","topic":"sensor/light","qos":"","retain":"","broker":"b8e05950.952c78","x":650,"y":920,"wires":[]},{"id":"2fcab3b.8876f4c","type":"mqtt out","z":"a528d0b2.b82b6","name":"","topic":"sensor/error/light","qos":"","retain":"","broker":"b8e05950.952c78","x":670,"y":980,"wires":[]},{"id":"4f7409f9.1182f8","type":"json","z":"a528d0b2.b82b6","name":"","property":"payload","action":"","pretty":true,"x":330,"y":1160,"wires":[["daffe6df.7e8888"]]},{"id":"daffe6df.7e8888","type":"function","z":"a528d0b2.b82b6","name":"magic","func":"if(\n    ((msg.payload.AccX <= 20)  && (msg.payload.AccX >= -20)) &&\n    ((msg.payload.AccY <= 20)  && (msg.payload.AccY >= -20)) && \n    ((msg.payload.AccZ <= 20)  && (msg.payload.AccZ >= -20)) &&\n    \n    ((msg.payload.Infra1 <= 1)  && (msg.payload.Infra1 >= 0)) &&\n    ((msg.payload.Infra2 <= 1)  && (msg.payload.Infra2 >= 0)) \n) {\n\nreturn [msg, null];\n}\nelse {\nreturn [null,msg];\n}","outputs":2,"noerr":0,"x":470,"y":1160,"wires":[["d11e3a96.1b6228"],["c60aa1e.64eb06"]]},{"id":"d11e3a96.1b6228","type":"mqtt out","z":"a528d0b2.b82b6","name":"","topic":"sensor/rail","qos":"","retain":"","broker":"b8e05950.952c78","x":650,"y":1160,"wires":[]},{"id":"c60aa1e.64eb06","type":"mqtt out","z":"a528d0b2.b82b6","name":"","topic":"sensor/error/rail","qos":"","retain":"","broker":"b8e05950.952c78","x":660,"y":1220,"wires":[]},{"id":"703ba1db.bc89e","type":"mqtt in","z":"e2d9da8c.51aff8","name":"light","topic":"sensor/light","qos":"2","broker":"943b6653.8aa7a8","x":270,"y":160,"wires":[["8357f9a1.e3b7c8"]]},{"id":"8357f9a1.e3b7c8","type":"json","z":"e2d9da8c.51aff8","name":"","property":"payload","action":"","pretty":true,"x":430,"y":160,"wires":[["1f72a819.db4558"]]},{"id":"1f72a819.db4558","type":"function","z":"e2d9da8c.51aff8","name":"magic","func":"\nvar senton= global.get(\"sentlight\");\n\nif( (msg.payload.Light <= 400) && senton == \"false\") {\nmsg.payload = \"1\";\nglobal.set(\"sentlight\", \"true\");\nglobal.set(\"night\", \"true\");\nreturn [msg];\n}\nelse if( (msg.payload.Light >= 800) && senton == \"true\"){\nmsg.payload = \"0\";\nglobal.set(\"sentlight\", \"false\");\nglobal.set(\"night\", \"false\");\nreturn [msg];\n}\nelse {\nreturn [null];\n}\n\n/*\nif( msg.payload.Light < 500) {\nmsg.payload = \"1\";\nreturn [msg, msg];\n}\nelse if( msg.payload.Light >= 500) {\nmsg.payload = \"0\";\nreturn [msg, msg];\n}\nelse {\nreturn [null,null];\n}\n*/","outputs":1,"noerr":0,"x":610,"y":160,"wires":[["3978217b.11ee5e","27d74855.1248b8"]]},{"id":"3978217b.11ee5e","type":"mqtt out","z":"e2d9da8c.51aff8","name":"","topic":"command/light","qos":"","retain":"","broker":"b8e05950.952c78","x":800,"y":160,"wires":[]},{"id":"1881220e.8c45ae","type":"debug","z":"a528d0b2.b82b6","name":"all","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":60,"wires":[]},{"id":"875c01af.9cbbb","type":"mqtt in","z":"a528d0b2.b82b6","name":"","topic":"#","qos":"2","broker":"b8e05950.952c78","x":440,"y":60,"wires":[["1881220e.8c45ae"]]},{"id":"27d74855.1248b8","type":"debug","z":"e2d9da8c.51aff8","name":"command_light","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":800,"y":220,"wires":[]},{"id":"bff0bb38.983d18","type":"debug","z":"a528d0b2.b82b6","name":"light","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":330,"y":900,"wires":[]},{"id":"1eec52d0.78d66d","type":"mqtt in","z":"e2d9da8c.51aff8","name":"rail","topic":"sensor/rail","qos":"2","broker":"943b6653.8aa7a8","x":270,"y":300,"wires":[["a604df3c.b761"]]},{"id":"a604df3c.b761","type":"json","z":"e2d9da8c.51aff8","name":"","property":"payload","action":"","pretty":true,"x":430,"y":300,"wires":[["8cc7ba18.af2b18"]]},{"id":"8cc7ba18.af2b18","type":"function","z":"e2d9da8c.51aff8","name":"magic","func":"var senton =  global.get(\"sent\");\n\nif(\n    (\n    ((msg.payload.Infra1 ==1 ) && (msg.payload.Infra2 == 1 )) ||\n    ((msg.payload.Infra1 ==0 ) && (msg.payload.Infra2 == 1 )) ||\n    ((msg.payload.Infra1 ==1 ) && (msg.payload.Infra2 == 0 ))\n    )\n    && (senton == \"false\") \n) {\nmsg.payload = \"1\";\nglobal.set(\"sent\", \"true\");\nreturn [msg];\n}\nelse if(\n    \n    ((msg.payload.Infra1 ==0 && msg.payload.Infra2 == 0 ))\n    && (senton == \"true\")\n\n    \n) {\nmsg.payload = \"0\";\nglobal.set(\"sent\", \"false\");\nreturn [msg];\n}\nelse {\nreturn [null]\n}\n\n\n/*\nrail sensor trigger lamp, but why \nvar senton =  global.get(\"sent\");\nvar night  = global.get(\"night\");\nif(\n    (\n    ((msg.payload.Infra1 ==1 ) && (msg.payload.Infra2 == 1 )) ||\n    ((msg.payload.Infra1 ==0 ) && (msg.payload.Infra2 == 1 )) ||\n    ((msg.payload.Infra1 ==1 ) && (msg.payload.Infra2 == 0 ))\n    )\n    && (senton == \"false\") \n) {\nmsg.payload = \"1\";\nglobal.set(\"sent\", \"true\");\nreturn [msg];\n}\nelse if(\n    \n    ((msg.payload.Infra1 ==0 && msg.payload.Infra2 == 0 ))\n    && (senton == \"true\")\n    && (night == \"false\")\n    \n) {\nmsg.payload = \"0\";\nglobal.set(\"sent\", \"false\");\nreturn [msg];\n}\nelse {\nreturn [null]\n}\n\n*/\n\n\n","outputs":1,"noerr":0,"x":610,"y":300,"wires":[["858e48d5.0e2748","a7fc0c40.04abf"]]},{"id":"858e48d5.0e2748","type":"mqtt out","z":"e2d9da8c.51aff8","name":"","topic":"command/buzzer","qos":"","retain":"","broker":"b8e05950.952c78","x":810,"y":300,"wires":[]},{"id":"a7fc0c40.04abf","type":"debug","z":"e2d9da8c.51aff8","name":"command_rail","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":800,"y":360,"wires":[]},{"id":"f4107e2f.87997","type":"debug","z":"a528d0b2.b82b6","name":"dht","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":330,"y":360,"wires":[]},{"id":"53e18c72.bbe264","type":"debug","z":"a528d0b2.b82b6","name":"acc","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":330,"y":700,"wires":[]},{"id":"ef760920.1836f8","type":"debug","z":"a528d0b2.b82b6","name":"rail","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":330,"y":1100,"wires":[]},{"id":"dc01e104.2f93d","type":"function","z":"e2d9da8c.51aff8","name":"init","func":"global.set(\"sentlight\", \"false\");\nglobal.set(\"sent\", \"false\");\nglobal.set(\"sentcamera\", \"false\");\nglobal.set(\"night\", \"false\");\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":80,"wires":[[]]},{"id":"2321a856.3c6db8","type":"inject","z":"e2d9da8c.51aff8","name":"","topic":"","payload":"{\"init\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":320,"y":80,"wires":[["dc01e104.2f93d"]]},{"id":"d0be2e05.62b7c","type":"mqtt out","z":"a528d0b2.b82b6","name":"","topic":"raw/light","qos":"","retain":"false","broker":"b8e05950.952c78","x":280,"y":120,"wires":[]},{"id":"d7702bb1.4688d8","type":"inject","z":"a528d0b2.b82b6","name":"low light","topic":"","payload":"{\"sensor_id\":1234,\"Light\":5}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":120,"wires":[["d0be2e05.62b7c"]]},{"id":"a9b390f4.00e76","type":"mqtt in","z":"e2d9da8c.51aff8","name":"camera","topic":"sensor/cameradata","qos":"2","broker":"943b6653.8aa7a8","x":270,"y":440,"wires":[["4801bdbb.f86814"]]},{"id":"4801bdbb.f86814","type":"json","z":"e2d9da8c.51aff8","name":"","property":"payload","action":"","pretty":true,"x":430,"y":440,"wires":[["420db1d9.2df26","764ac93a.e34668"]]},{"id":"420db1d9.2df26","type":"function","z":"e2d9da8c.51aff8","name":"magic","func":"var senton = global.get(\"sentcamera\");\nif(\n    \n(msg.payload.LabelText ==\"person\" )\n&&\n    ((msg.payload.BoxBottom < msg.payload.UpperBound) && \n    (msg.payload.BoxBottom > msg.payload.LowerBound))\n&&\n(senton == \"false\") \n\n) {\nmsg.payload = '{\"segment\":24, \"state\":0}';\nglobal.set(\"sentcamera\", \"true\");\nreturn [msg];\n}\nelse if((msg.payload.LabelText != \"person\")&& (senton == \"true\")) {\nmsg.payload = \"0\";\nglobal.set(\"sentcamera\", \"false\");\nreturn [msg];\n}\nelse {\nreturn [null]\n}\n","outputs":1,"noerr":0,"x":610,"y":440,"wires":[["2c8c209c.45395","764ac93a.e34668"]]},{"id":"2c8c209c.45395","type":"mqtt out","z":"e2d9da8c.51aff8","name":"","topic":"command/segment","qos":"","retain":"","broker":"b8e05950.952c78","x":810,"y":400,"wires":[]},{"id":"764ac93a.e34668","type":"debug","z":"e2d9da8c.51aff8","name":"command_camera","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":580,"wires":[]},{"id":"559ea10d.ac9b5","type":"mqtt out","z":"a528d0b2.b82b6","name":"","topic":"raw/rail","qos":"","retain":"false","broker":"b8e05950.952c78","x":280,"y":180,"wires":[]},{"id":"463b4264.d72dac","type":"inject","z":"a528d0b2.b82b6","name":"train come","topic":"","payload":"{\"sensor_id\":1234,\"Infra1\":1,\"Infra2\":1, \"AccX\":0,\"AccY\":0,\"AccZ\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":180,"wires":[["559ea10d.ac9b5"]]},{"id":"cd594d2f.455cf","type":"mqtt out","z":"a528d0b2.b82b6","name":"","topic":"raw/rail","qos":"","retain":"false","broker":"b8e05950.952c78","x":660,"y":120,"wires":[]},{"id":"709d2a23.d7e164","type":"inject","z":"a528d0b2.b82b6","name":"train leave","topic":"","payload":"{\"sensor_id\":1234,\"Infra1\":0,\"Infra2\":0, \"AccX\":0,\"AccY\":0,\"AccZ\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":480,"y":120,"wires":[["cd594d2f.455cf"]]},{"id":"d884ec91.0dcc2","type":"mqtt out","z":"a528d0b2.b82b6","name":"","topic":"command/segment","qos":"","retain":"false","broker":"b8e05950.952c78","x":710,"y":180,"wires":[]},{"id":"fcb6f36a.b09d9","type":"inject","z":"a528d0b2.b82b6","name":"segment 10 down","topic":"","payload":"{\"segment\":10, \"state\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":490,"y":180,"wires":[["d884ec91.0dcc2"]]},{"id":"75b7da93.b47ed4","type":"mqtt out","z":"a528d0b2.b82b6","name":"","topic":"command/segment","qos":"","retain":"false","broker":"b8e05950.952c78","x":710,"y":220,"wires":[]},{"id":"a8f76e46.b6a8","type":"inject","z":"a528d0b2.b82b6","name":"segment 10 up","topic":"","payload":"{\"segment\":10,\"state\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":480,"y":220,"wires":[["75b7da93.b47ed4"]]},{"id":"c4b267cd.a03e48","type":"mqtt out","z":"a528d0b2.b82b6","name":"","topic":"raw/cameradata","qos":"","retain":"false","broker":"b8e05950.952c78","x":680,"y":280,"wires":[]},{"id":"8283c657.3dd488","type":"inject","z":"a528d0b2.b82b6","name":"Camera bad","topic":"","payload":"{\"BoxLeft\":0,\"BoxRight\":0,\"BoxBottom\":0,\"UpperBound\":1,\"LowerBound\":-1, \"LabelText\":\"person\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":450,"y":280,"wires":[["c4b267cd.a03e48"]]},{"id":"3ac5bceb.822a24","type":"debug","z":"a528d0b2.b82b6","name":"camera","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":340,"y":520,"wires":[]}]
